  .fab {
    position:relative;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
  }

  .fab.is-hidden {
    transform: scale(0);
  }

  .fab span {
    transition: transform 0.5s;
  }
